body {
    font-family: Helvetica, sans-serif;
    color: #ecf0f7;
    background: #274255;
    text-align: center;
    padding: 0px 80px;
}
p{

    font-size: 5mm;
}
nav {
    margin: 20px auto 0 auto;
    width: 200px;
    border-radius: 40px;
    background: #f3f4f7;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #331e06;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
}


.images {

    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}