body {
    font-family: Helvetica, sans-serif;
    color: #643500;
    background: #c06224;
    padding: 0 40px;
    text-align: center;
    background:url(../images/marsbackround.jpeg)
}

nav {
    margin: 20px auto 0 auto;
    width: 300px;
    border-radius: 40px;
    background: #b85301;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #331e06;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(99, 0, 0);
    background: repeating-linear-gradient(45deg, rgb(134, 0, 0) 0%, rgb(119, 77, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

